##  PURPOSE OF THIS NOTEBOOK IS TO CHECK IF ATTOM DATA SOLUTIONS API QUERY WORKS AND DEBUG AS NECESSARY

In [1]:
import requests
import json
import pandas as pd

## Attempted to fetch some data from ATTOM. See if query works

https://api.developer.attomdata.com/docs#!/Sales32Trend32by32Quarter/getSalesTrendByQuarter

In [1]:
baseurl = 'https://api.gateway.attomdata.com/propertyapi/v1.0.0/property/address'
queryparams = {'postalcode':10025,
         'propertytype': 'TOWNHOUSE/ROWHOUSE', 
         'pagesize': 3}

# AP_API_KEY = '522739f66b76ac63523c45dab14c3aa9', CW_API_KEY = '2b1e86b638620bf2404521e6e9e1b19e', CW_API_2= ' 	0c05e174a8009b9c7a14d06778d5b7fd'

# New_APIS
attom_keys = ['1aca7ca361664d5b70c603ebd9daa6c7','57fb3873cfd2b0e57cd38d92450c81d1','123b348cfa3af52b50aac55d5fc2a853','81e1f74972e2f35a610c43b670d54de','97a972418c6f6329d2ec3d5fe4e4c31c']
headers = {'apikey': '2b1e86b638620bf2404521e6e9e1b19e', 'accept': 'application/JSON'}

In [4]:
response = requests.get(baseurl, params = queryparams,headers=headers)
response.url

'https://api.gateway.attomdata.com/propertyapi/v1.0.0/property/address?postalcode=10025&propertytype=TOWNHOUSE%2FROWHOUSE&pagesize=3'

In [5]:
pydata = response.json()    # pydata is a python list/dictionary NOT JSON
pydata = pydata['property']

In [5]:
# UNCOMMENT TO SEE
#print(json.dumps(pydata, indent = 3))

In [6]:
with open('exported.txt', 'w') as outfile:
    json.dump(pydata, outfile)

In [7]:
import pandas as pd
with open('exported.txt') as project_file:    
    data = json.load(project_file)  

df = pd.json_normalize(data)

In [8]:
df.shape

(3, 22)

In [10]:
pd.set_option('display.max_columns', 500)
df.head()

,identifier.Id,identifier.fips,identifier.apn,identifier.apnOrig,identifier.attomId,address.country,address.countrySubd,address.line1,address.line2,address.locality,address.matchCode,address.oneLine,address.postal1,address.postal2,address.postal3,location.accuracy,location.latitude,location.longitude,location.distance,location.geoid,vintage.lastModified,vintage.pubDate
0,5109917,06001,501 163007500,501163007500,5109917,US,CA,3768 COLET TER,"FREMONT, CA 94536",FREMONT,ExaStr,"3768 COLET TER, FREMONT, CA 94536",94536,6005,C061,Rooftop,37.554617,-121.995952,0.0,"CO06001, CS0691070, DB0614400, ND0000000924, R...",2021-4-8,2021-4-8
1,10851195,06001,501 060717000,501060717000,10851195,US,CA,37631 MURIETTA TER,"FREMONT, CA 94536",FREMONT,ExaStr,"37631 MURIETTA TER, FREMONT, CA 94536",94536,6644,C060,Rooftop,37.545177,-122.012501,0.0,"CO06001, CS0691070, DB0614400, ND0000000927, P...",2021-4-8,2021-4-8
2,20409996,06001,507 042010200,507042010200,20409996,US,CA,38604 ROYAL ANN CMN,"FREMONT, CA 94536",FREMONT,ExaStr,"38604 ROYAL ANN CMN, FREMONT, CA 94536",94536,4218,C085,Rooftop,37.566768,-121.971207,0.0,"CO06001, CS0691070, DB0614400, ND0004779170, P...",2021-4-8,2021-4-8

## conclusion: learnt to fetch data 
## convert responseobject ---> python list of dictionary of lists ---> write to file---> convert to pandas

## Fetch all counties in New York FIPS ID

In [4]:

baseurl = 'https://api.gateway.attomdata.com/areaapi/v2.0.0/county/lookup'
queryparams = {'StateId':'ST36'} # ST06 = Cali , ST36 = NY , ST34 = NJ
headers = {'apikey': '2b1e86b638620bf2404521e6e9e1b19e', 'accept': 'application/JSON'}


response = requests.get(baseurl, params = queryparams,headers=headers)
pydata = response.json()
pydata

{'response': {'inputparameter': {'package': 'lookup',
   'resource': 'county',
   'service': 'Area',
   'StateId': 'ST36'},
  'result': {'package': {'descr': 'This lookup returns all the Counties that are in a particular state. The State ID is required. The two-digit FIPS code or the two-letter abbreviation can be used for the State ID.',
    'item': [{'geo_center_latitude': '44.0312480000',
      'geo_center_longitude': '-73.1415810000',
      'geo_key': 'CO50001',
      'id': 'CO50001',
      'name': 'Addison',
      'type': 'CO'},
     {'geo_center_latitude': '42.5882400000',
      'geo_center_longitude': '-73.9740090000',
      'geo_key': 'CO36001',
      'id': 'CO36001',
      'name': 'Albany',
      'type': 'CO'},
     {'geo_center_latitude': '42.2478530000',
      'geo_center_longitude': '-78.0261530000',
      'geo_key': 'CO36003',
      'id': 'CO36003',
      'name': 'Allegany',
      'type': 'CO'},
     {'geo_center_latitude': '43.0353250000',
      'geo_center_longitude': '-73.1114600000',
      'geo_key': 'CO50003',
      'id': 'CO50003',
      'name': 'Bennington',
      'type': 'CO'},
     {'geo_center_latitude': '40.9596990000',
      'geo_center_longitude': '-74.0747270000',
      'geo_key': 'CO34003',
      'id': 'CO34003',
      'name': 'Bergen',
      'type': 'CO'},
     {'geo_center_latitude': '42.3714930000',
      'geo_center_longitude': '-73.2179280000',
      'geo_key': 'CO25003',
      'id': 'CO25003',
      'name': 'Berkshire',
      'type': 'CO'},
     {'geo_center_latitude': '41.7915040000',
      'geo_center_longitude': '-76.5021230000',
      'geo_key': 'CO42015',
      'id': 'CO42015',
      'name': 'Bradford',
      'type': 'CO'},
     {'geo_center_latitude': '40.8487110000',
      'geo_center_longitude': '-73.8529390000',
      'geo_key': 'CO36005',
      'id': 'CO36005',
      'name': 'Bronx',
      'type': 'CO'},
     {'geo_center_latitude': '42.1619770000',
      'geo_center_longitude': '-75.8302830000',
      'geo_key': 'CO36007',
      'id': 'CO36007',
      'name': 'Broome',
      'type': 'CO'},
     {'geo_center_latitude': '42.2390990000',
      'geo_center_longitude': '-78.6623320000',
      'geo_key': 'CO36009',
      'id': 'CO36009',
      'name': 'Cattaraugus',
      'type': 'CO'},
     {'geo_center_latitude': '43.0085460000',
      'geo_center_longitude': '-76.5745870000',
      'geo_key': 'CO36011',
      'id': 'CO36011',
      'name': 'Cayuga',
      'type': 'CO'},
     {'geo_center_latitude': '42.3042160000',
      'geo_center_longitude': '-79.4075950000',
      'geo_key': 'CO36013',
      'id': 'CO36013',
      'name': 'Chautauqua',
      'type': 'CO'},
     {'geo_center_latitude': '42.1486970000',
      'geo_center_longitude': '-76.7524710000',
      'geo_key': 'CO36015',
      'id': 'CO36015',
      'name': 'Chemung',
      'type': 'CO'},
     {'geo_center_latitude': '42.4780240000',
      'geo_center_longitude': '-75.6022410000',
      'geo_key': 'CO36017',
      'id': 'CO36017',
      'name': 'Chenango',
      'type': 'CO'},
     {'geo_center_latitude': '44.4633290000',
      'geo_center_longitude': '-73.0694100000',
      'geo_key': 'CO50007',
      'id': 'CO50007',
      'name': 'Chittenden',
      'type': 'CO'},
     {'geo_center_latitude': '44.7527120000',
      'geo_center_longitude': '-73.7056430000',
      'geo_key': 'CO36019',
      'id': 'CO36019',
      'name': 'Clinton',
      'type': 'CO'},
     {'geo_center_latitude': '42.2476960000',
      'geo_center_longitude': '-73.6267170000',
      'geo_key': 'CO36021',
      'id': 'CO36021',
      'name': 'Columbia',
      'type': 'CO'},
     {'geo_center_latitude': '42.5940390000',
      'geo_center_longitude': '-76.0762400000',
      'geo_key': 'CO36023',
      'id': 'CO36023',
      'name': 'Cortland',
      'type': 'CO'},
     {'geo_center_latitude': '42.1939870000',
      'geo_center_longitude': '-74.9667280000',
      'geo_key': 'CO36025',
      'id': 'CO36025',
      'name': 'Delaware',
      'type': 'CO'},
     {'geo_center_latitude': '41.7547700000',
      'geo_center_longitude': '-73.7400410000',
      'geo_key': 'CO36027',
      'id': 'CO36027',
      'name': 'Dutchess',
      'type': 'CO'},
     {'geo_center_latitude': '42.7527590000',
      'geo_center_longitude': '-78.7781920000',
      'geo_key': 'CO36029',
      'id': 'CO36029',
      'name': 'Erie',
      'type': 'CO'},
     {'geo_center_latitude': '42.1179520000',
      'geo_center_longitude': '-80.0963860000',
      'geo_key': 'CO42049',
      'id': 'CO42049',
      'name': 'Erie',
      'type': 'CO'},
     {'geo_center_latitude': '44.1096000000',
      'geo_center_longitude': '-73.7784310000',
      'geo_key': 'CO36031',
      'id': 'CO36031',
      'name': 'Essex',
      'type': 'CO'},
     {'geo_center_latitude': '41.2274130000',
      'geo_center_longitude': '-73.3670610000',
      'geo_key': 'CO09001',
      'id': 'CO09001',
      'name': 'Fairfield',
      'type': 'CO'},
     {'geo_center_latitude': '44.5943760000',
      'geo_center_longitude': '-74.3106700000',
      'geo_key': 'CO36033',
      'id': 'CO36033',
      'name': 'Franklin',
      'type': 'CO'},
     {'geo_center_latitude': '43.1156090000',
      'geo_center_longitude': '-74.4236780000',
      'geo_key': 'CO36035',
      'id': 'CO36035',
      'name': 'Fulton',
      'type': 'CO'},
     {'geo_center_latitude': '43.0009100000',
      'geo_center_longitude': '-78.1927780000',
      'geo_key': 'CO36037',
      'id': 'CO36037',
      'name': 'Genesee',
      'type': 'CO'},
     {'geo_center_latitude': '44.7957430000',
      'geo_center_longitude': '-73.2950820000',
      'geo_key': 'CO50013',
      'id': 'CO50013',
      'name': 'Grand Isle',
      'type': 'CO'},
     {'geo_center_latitude': '42.2798210000',
      'geo_center_longitude': '-74.1420250000',
      'geo_key': 'CO36039',
      'id': 'CO36039',
      'name': 'Greene',
      'type': 'CO'},
     {'geo_center_latitude': '43.6578790000',
      'geo_center_longitude': '-74.5024560000',
      'geo_key': 'CO36041',
      'id': 'CO36041',
      'name': 'Hamilton',
      'type': 'CO'},
     {'geo_center_latitude': '43.5710090000',
      'geo_center_longitude': '-74.8410970000',
      'geo_key': 'CO36043',
      'id': 'CO36043',
      'name': 'Herkimer',
      'type': 'CO'},
     {'geo_center_latitude': '40.7313750000',
      'geo_center_longitude': '-74.0786010000',
      'geo_key': 'CO34017',
      'id': 'CO34017',
      'name': 'Hudson',
      'type': 'CO'},
     {'geo_center_latitude': '43.9963890000',
      'geo_center_longitude': '-76.0529680000',
      'geo_key': 'CO36045',
      'id': 'CO36045',
      'name': 'Jefferson',
      'type': 'CO'},
     {'geo_center_latitude': '40.6350450000',
      'geo_center_longitude': '-73.9506400000',
      'geo_key': 'CO36047',
      'id': 'CO36047',
      'name': 'Kings',
      'type': 'CO'},
     {'geo_center_latitude': '43.7826810000',
      'geo_center_longitude': '-75.4441400000',
      'geo_key': 'CO36049',
      'id': 'CO36049',
      'name': 'Lewis',
      'type': 'CO'},
     {'geo_center_latitude': '41.7918830000',
      'geo_center_longitude': '-73.2354040000',
      'geo_key': 'CO09005',
      'id': 'CO09005',
      'name': 'Litchfield',
      'type': 'CO'},
     {'geo_center_latitude': '42.7290420000',
      'geo_center_longitude': '-77.7784630000',
      'geo_key': 'CO36051',
      'id': 'CO36051',
      'name': 'Livingston',
      'type': 'CO'},
     {'geo_center_latitude': '42.9100260000',
      'geo_center_longitude': '-75.6635750000',
      'geo_key': 'CO36053',
      'id': 'CO36053',
      'name': 'Madison',
      'type': 'CO'},
     {'geo_center_latitude': '41.8145900000',
      'geo_center_longitude': '-78.5724630000',
      'geo_key': 'CO42083',
      'id': 'CO42083',
      'name': 'McKean',
      'type': 'CO'},
     {'geo_center_latitude': '41.4330030000',
      'geo_center_longitude': '-72.5227800000',
      'geo_key': 'CO09007',
      'id': 'CO09007',
      'name': 'Middlesex',
      'type': 'CO'},
     {'geo_center_latitude': '40.4396210000',
      'geo_center_longitude': '-74.4074300000',
      'geo_key': 'CO34023',
      'id': 'CO34023',
      'name': 'Middlesex',
      'type': 'CO'},
     {'geo_center_latitude': '40.2870480000',
      'geo_center_longitude': '-74.1524460000',
      'geo_key': 'CO34025',
      'id': 'CO34025',
      'name': 'Monmouth',
      'type': 'CO'},
     {'geo_center_latitude': '43.2503470000',
      'geo_center_longitude': '-77.7005180000',
      'geo_key': 'CO36055',
      'id': 'CO36055',
      'name': 'Monroe',
      'type': 'CO'},
     {'geo_center_latitude': '42.9008910000',
      'geo_center_longitude': '-74.4353570000',
      'geo_key': 'CO36057',
      'id': 'CO36057',
      'name': 'Montgomery',
      'type': 'CO'},
     {'geo_center_latitude': '40.7296120000',
      'geo_center_longitude': '-73.5894140000',
      'geo_key': 'CO36059',
      'id': 'CO36059',
      'name': 'Nassau',
      'type': 'CO'},
     {'geo_center_latitude': '41.3497190000',
      'geo_center_longitude': '-72.9002030000',
      'geo_key': 'CO09009',
      'id': 'CO09009',
      'name': 'New Haven',
      'type': 'CO'},
     {'geo_center_latitude': '41.4726520000',
      'geo_center_longitude': '-72.1086340000',
      'geo_key': 'CO09011',
      'id': 'CO09011',
      'name': 'New London',
      'type': 'CO'},
     {'geo_center_latitude': '40.7766420000',
      'geo_center_longitude': '-73.9701870000',
      'geo_key': 'CO36061',
      'id': 'CO36061',
      'name': 'New York',
      'type': 'CO'},
     {'geo_center_latitude': '43.2726720000',
      'geo_center_longitude': '-78.8129430000',
      'geo_key': 'CO36063',
      'id': 'CO36063',
      'name': 'Niagara',
      'type': 'CO'},
     {'geo_center_latitude': '43.2427270000',
      'geo_center_longitude': '-75.4342820000',
      'geo_key': 'CO36065',
      'id': 'CO36065',
      'name': 'Oneida',
      'type': 'CO'},
     {'geo_center_latitude': '43.0065160000',
      'geo_center_longitude': '-76.1961340000',
      'geo_key': 'CO36067',
      'id': 'CO36067',
      'name': 'Onondaga',
      'type': 'CO'},
     {'geo_center_latitude': '42.8563580000',
      'geo_center_longitude': '-77.3034970000',
      'geo_key': 'CO36069',
      'id': 'CO36069',
      'name': 'Ontario',
      'type': 'CO'},
     {'geo_center_latitude': '41.4024100000',
      'geo_center_longitude': '-74.3062520000',
      'geo_key': 'CO36071',
      'id': 'CO36071',
      'name': 'Orange',
      'type': 'CO'},
     {'geo_center_latitude': '43.3399060000',
      'geo_center_longitude': '-78.2070280000',
      'geo_key': 'CO36073',
      'id': 'CO36073',
      'name': 'Orleans',
      'type': 'CO'},
     {'geo_center_latitude': '43.4614430000',
      'geo_center_longitude': '-76.2092620000',
      'geo_key': 'CO36075',
      'id': 'CO36075',
      'name': 'Oswego',
      'type': 'CO'},
     {'geo_center_latitude': '42.6297760000',
      'geo_center_longitude': '-75.0288410000',
      'geo_key': 'CO36077',
      'id': 'CO36077',
      'name': 'Otsego',
      'type': 'CO'},
     {'geo_center_latitude': '41.0366550000',
      'geo_center_longitude': '-74.2994080000',
      'geo_key': 'CO34031',
      'id': 'CO34031',
      'name': 'Passaic',
      'type': 'CO'},
     {'geo_center_latitude': '41.3259490000',
      'geo_center_longitude': '-75.0315140000',
      'geo_key': 'CO42103',
      'id': 'CO42103',
      'name': 'Pike',
      'type': 'CO'},
     {'geo_center_latitude': '41.7485870000',
      'geo_center_longitude': '-77.8944360000',
      'geo_key': 'CO42105',
      'id': 'CO42105',
      'name': 'Potter',
      'type': 'CO'},
     {'geo_center_latitude': '41.4279070000',
      'geo_center_longitude': '-73.7438610000',
      'geo_key': 'CO36079',
      'id': 'CO36079',
      'name': 'Putnam',
      'type': 'CO'},
     {'geo_center_latitude': '40.6546580000',
      'geo_center_longitude': '-73.8412090000',
      'geo_key': 'CO36081',
      'id': 'CO36081',
      'name': 'Queens',
      'type': 'CO'},
     {'geo_center_latitude': '42.7104210000',
      'geo_center_longitude': '-73.5138450000',
      'geo_key': 'CO36083',
      'id': 'CO36083',
      'name': 'Rensselaer',
      'type': 'CO'},
     {'geo_center_latitude': '40.5612630000',
      'geo_center_longitude': '-74.1398990000',
      'geo_key': 'CO36085',
      'id': 'CO36085',
      'name': 'Richmond',
      'type': 'CO'},
     {'geo_center_latitude': '41.1546280000',
      'geo_center_longitude': '-74.0246620000',
      'geo_key': 'CO36087',
      'id': 'CO36087',
      'name': 'Rockland',
      'type': 'CO'},
     {'geo_center_latitude': '43.5808580000',
      'geo_center_longitude': '-73.0382020000',
      'geo_key': 'CO50021',
      'id': 'CO50021',
      'name': 'Rutland',
      'type': 'CO'},
     {'geo_center_latitude': '43.1061350000',
      'geo_center_longitude': '-73.8553870000',
      'geo_key': 'CO36091',
      'id': 'CO36091',
      'name': 'Saratoga',
      'type': 'CO'},
     {'geo_center_latitude': '42.8175520000',
      'geo_center_longitude': '-74.0435590000',
      'geo_key': 'CO36093',
      'id': 'CO36093',
      'name': 'Schenectady',
      'type': 'CO'},
     {'geo_center_latitude': '42.5912940000',
      'geo_center_longitude': '-74.4381720000',
      'geo_key': 'CO36095',
      'id': 'CO36095',
      'name': 'Schoharie',
      'type': 'CO'},
     {'geo_center_latitude': '42.4197760000',
      'geo_center_longitude': '-76.9386030000',
      'geo_key': 'CO36097',
      'id': 'CO36097',
      'name': 'Schuyler',
      'type': 'CO'},
     {'geo_center_latitude': '42.7822940000',
      'geo_center_longitude': '-76.8270880000',
      'geo_key': 'CO36099',
      'id': 'CO36099',
      'name': 'Seneca',
      'type': 'CO'},
     {'geo_center_latitude': '44.4881130000',
      'geo_center_longitude': '-75.0743110000',
      'geo_key': 'CO36089',
      'id': 'CO36089',
      'name': 'St. Lawrence',
      'type': 'CO'},
     {'geo_center_latitude': '42.2667250000',
      'geo_center_longitude': '-77.3855250000',
      'geo_key': 'CO36101',
      'id': 'CO36101',
      'name': 'Steuben',
      'type': 'CO'},
     {'geo_center_latitude': '40.9435540000',
      'geo_center_longitude': '-72.6922180000',
      'geo_key': 'CO36103',
      'id': 'CO36103',
      'name': 'Suffolk',
      'type': 'CO'},
     {'geo_center_latitude': '41.7199930000',
      'geo_center_longitude': '-74.7715770000',
      'geo_key': 'CO36105',
      'id': 'CO36105',
      'name': 'Sullivan',
      'type': 'CO'},
     {'geo_center_latitude': '41.8196650000',
      'geo_center_longitude': '-75.8009690000',
      'geo_key': 'CO42115',
      'id': 'CO42115',
      'name': 'Susquehanna',
      'type': 'CO'},
     {'geo_center_latitude': '41.1374610000',
      'geo_center_longitude': '-74.6919140000',
      'geo_key': 'CO34037',
      'id': 'CO34037',
      'name': 'Sussex',
      'type': 'CO'},
     {'geo_center_latitude': '42.1780560000',
      'geo_center_longitude': '-76.2974560000',
      'geo_key': 'CO36107',
      'id': 'CO36107',
      'name': 'Tioga',
      'type': 'CO'},
     {'geo_center_latitude': '41.7668590000',
      'geo_center_longitude': '-77.2572880000',
      'geo_key': 'CO42117',
      'id': 'CO42117',
      'name': 'Tioga',
      'type': 'CO'},
     {'geo_center_latitude': '42.4530060000',
      'geo_center_longitude': '-76.4734840000',
      'geo_key': 'CO36109',
      'id': 'CO36109',
      'name': 'Tompkins',
      'type': 'CO'},
     {'geo_center_latitude': '41.9472120000',
      'geo_center_longitude': '-74.2654580000',
      'geo_key': 'CO36111',
      'id': 'CO36111',
      'name': 'Ulster',
      'type': 'CO'},
     {'geo_center_latitude': '40.6598710000',
      'geo_center_longitude': '-74.3086960000',
      'geo_key': 'CO34039',
      'id': 'CO34039',
      'name': 'Union',
      'type': 'CO'},
     {'geo_center_latitude': '43.5551050000',
      'geo_center_longitude': '-73.8381390000',
      'geo_key': 'CO36113',
      'id': 'CO36113',
      'name': 'Warren',
      'type': 'CO'},
     {'geo_center_latitude': '41.8342980000',
      'geo_center_longitude': '-79.2981820000',
      'geo_key': 'CO42123',
      'id': 'CO42123',
      'name': 'Warren',
      'type': 'CO'},
     {'geo_center_latitude': '43.3123770000',
      'geo_center_longitude': '-73.4394280000',
      'geo_key': 'CO36115',
      'id': 'CO36115',
      'name': 'Washington',
      'type': 'CO'},
     {'geo_center_latitude': '41.3967920000',
      'geo_center_longitude': '-71.6202820000',
      'geo_key': 'CO44009',
      'id': 'CO44009',
      'name': 'Washington',
      'type': 'CO'},
     {'geo_center_latitude': '43.2181140000',
      'geo_center_longitude': '-77.0494020000',
      'geo_key': 'CO36117',
      'id': 'CO36117',
      'name': 'Wayne',
      'type': 'CO'},
     {'geo_center_latitude': '41.6466020000',
      'geo_center_longitude': '-75.2924930000',
      'geo_key': 'CO42127',
      'id': 'CO42127',
      'name': 'Wayne',
      'type': 'CO'},
     {'geo_center_latitude': '41.1526860000',
      'geo_center_longitude': '-73.7457530000',
      'geo_key': 'CO36119',
      'id': 'CO36119',
      'name': 'Westchester',
      'type': 'CO'},
     {'geo_center_latitude': '42.7013630000',
      'geo_center_longitude': '-78.2285670000',
      'geo_key': 'CO36121',
      'id': 'CO36121',
      'name': 'Wyoming',
      'type': 'CO'},
     {'geo_center_latitude': '42.6382370000',
      'geo_center_longitude': '-77.1043240000',
      'geo_key': 'CO36123',
      'id': 'CO36123',
      'name': 'Yates',
      'type': 'CO'}],
    'name': 'Lookup',
    'notice': '',
    'resource': 'County',
    'service': 'Area',
    'version': '2.0'},
   'xml_record': '90'},
  'status': {'code': '0',
   'long_description': 'Your request was successfully processed.',
   'short_description': 'Success'},
  'xmlns': 'https://api.gateway.attomdata.com/areaapi/v2.0.0'}}

In [5]:
# parsing the results to reach inner nest
pydata = pydata['response']['result']['package']['item']

In [128]:
# Create a NY_counties file with all long and lat
# Read in NY_counties to DataFrame
with open('ny_counties.txt', 'w') as outfile:
    json.dump(pydata, outfile)

,geo_center_latitude,geo_center_longitude,geo_key,id,name,type
0,44.0312480000,-73.1415810000,CO50001,CO50001,Addison,CO
1,42.5882400000,-73.9740090000,CO36001,CO36001,Albany,CO
2,42.2478530000,-78.0261530000,CO36003,CO36003,Allegany,CO
3,43.0353250000,-73.1114600000,CO50003,CO50003,Bennington,CO
4,40.9596990000,-74.0747270000,CO34003,CO34003,Bergen,CO
...,...,...,...,...,...,...
85,43.2181140000,-77.0494020000,CO36117,CO36117,Wayne,CO
86,41.6466020000,-75.2924930000,CO42127,CO42127,Wayne,CO
87,41.1526860000,-73.7457530000,CO36119,CO36119,Westchester,CO
88,42.7013630000,-78.2285670000,CO36121,CO36121,Wyoming,CO
89,42.6382370000,-77.1043240000,CO36123,CO36123,Yates,CO

In [9]:
# Read in counties file
with open('datasets/NY_data/process_files/ny_counties.txt') as project_file:    
    ny_counties_data = json.load(project_file)  

df_counties = pd.json_normalize(ny_counties_data)
df_counties

,geo_center_latitude,geo_center_longitude,geo_key,id,name,type
0,44.0312480000,-73.1415810000,CO50001,CO50001,Addison,CO
1,42.5882400000,-73.9740090000,CO36001,CO36001,Albany,CO
2,42.2478530000,-78.0261530000,CO36003,CO36003,Allegany,CO
3,43.0353250000,-73.1114600000,CO50003,CO50003,Bennington,CO
4,40.9596990000,-74.0747270000,CO34003,CO34003,Bergen,CO
...,...,...,...,...,...,...
85,43.2181140000,-77.0494020000,CO36117,CO36117,Wayne,CO
86,41.6466020000,-75.2924930000,CO42127,CO42127,Wayne,CO
87,41.1526860000,-73.7457530000,CO36119,CO36119,Westchester,CO
88,42.7013630000,-78.2285670000,CO36121,CO36121,Wyoming,CO
89,42.6382370000,-77.1043240000,CO36123,CO36123,Yates,CO

In [10]:
# extract geoIDs for counties and put them in a list
county_geoids = list(df_counties['id'])
# show first 10 county geoIDs out of 90
county_geoids[:10]

['CO50001',
 'CO36001',
 'CO36003',
 'CO50003',
 'CO34003',
 'CO25003',
 'CO42015',
 'CO36005',
 'CO36007',
 'CO36009']

In [11]:
# There are counties with duplicate names
ny_county_count = df_counties.name.value_counts()
ny_county_count[ny_county_count>1]

Erie          2
Warren        2
Middlesex     2
Tioga         2
Wayne         2
Washington    2
Name: name, dtype: int64

In [12]:
# Let's rename these for downstream activities
duplicates = dict(ny_county_count[ny_county_count>1])
for ck in duplicates.keys():
    n = 0
    for index, row in df_counties[df_counties.name == ck].iterrows():
        n += 1
        df_counties.iloc[index]['name'] = f"{ck}_{n}"

In [13]:
# checking the new names
for ck in duplicates.keys():
    for index, row in df_counties[df_counties.name.str.contains(ck)].iterrows():
        print(df_counties.iloc[index]['name'])

Erie_1
Erie_2
Warren_1
Warren_2
Middlesex_1
Middlesex_2
Tioga_1
Tioga_2
Wayne_1
Wayne_2
Washington_1
Washington_2

In [14]:
# Create a dictionary of NY counties
ny_county_dict = dict()
for index, row in df_counties.iterrows():
    ny_county_dict[df_counties.iloc[index]['id']] = df_counties.iloc[index]['name']

# Store the counties dictionary
import pickle
with open('ny_county_dict.txt', 'wb') as fp:
    pickle.dump(ny_county_dict, fp)


# Uncomment below to read this file back in
# with open('ny_county_dict.txt') as project_file:    
# ny_county_dict = json.load(project_file)

In [15]:
# Extract big counties to isolate in case of time out 
big_county_list = ['New York', 'Kings','Bronx','Richmond','Queens']
small_county_df = df_counties[~df_counties.name.isin(big_county_list)]
big_county_df = df_counties[df_counties.name.isin(big_county_list)]

## There are 90 counties in NYC each with an ID or geoid

In [16]:
# For each county, we'll make 1 API call and generated 1 text file containing sales data  
# county_geoids is the LIST of all 74 counties in California

# following function pulls all sales data between 200k and 5 million dollars from start of covid
# function takes as input the geoID of the county 
# function outputs a generated text file containing JSON of all SALES transactions between $0.5M and $5M in that county
# function has defaults of from date of 1st Jan 2019 upto 1st Apr 2021. These can be changed as desired.
# i've set pagesize to 50,000 records for each county.

def salesdata_scraper_bycounty(county_geoid,from_date ='2019-01-01', to_date ='2021-04-01'): 
    baseurl = 'https://api.gateway.attomdata.com/propertyapi/v1.0.0/sale/snapshot'
    queryparams = {'geoid':county_geoid, 
               'minsaleamt'200000,: 50000000,
               'maxsaleamt': 50 
              'startsalesearchdate':from_date,
               'endsalesearchdate': to_date,
                'pagesize' :50000}        
    headers = {'apikey': '1aca7ca361664d5b70c603ebd9daa6c7', 'accept': 'application/JSON'} #c24d144ee2dbd747f25e44384132f9b3
    response = requests.get(baseurl, params = queryparams,headers=headers)
    pydata = response.json()         # converting response object to python list of dictionaries
    if pydata['status']['total'] > 0:   # this condition is to avoid writing empty files in case of zero transactions in a county
        pydata = pydata['property']   # this is to reach inner nested part where our results lie
        with open(county_geoid, 'w') as outfile:   # The name of each file will be CO06001, CO06003, etc.74 files created            
            json.dump(pydata, outfile)

## Cannot iterate all 90 counties in 1 for loop. API request times out/doesn't return status header. Its blank. Had to do in batches for loop as below.

In [17]:
# NY Large counties first
for county_geoid in big_county_df.id:   
    salesdata_scraper_bycounty(county_geoid)
print('done')

done

In [18]:
for county_geoid in small_county_df.id[:10]:
    salesdata_scraper_bycounty(county_geoid)
print('done')

done

In [19]:
for county_geoid in small_county_df.id[10:20]:
    salesdata_scraper_bycounty(county_geoid)
print('done')

done

In [20]:
for county_geoid in small_county_df.id[20:30]:
    salesdata_scraper_bycounty(county_geoid)
print('done')

done

In [21]:
for county_geoid in small_county_df.id[30:40]:
    salesdata_scraper_bycounty(county_geoid)
print('done')

done

In [22]:
for county_geoid in small_county_df.id[40:50]:
    salesdata_scraper_bycounty(county_geoid)
print('done')

done

In [23]:
for county_geoid in small_county_df.id[50:60]:
    salesdata_scraper_bycounty(county_geoid)
print('done')

done

In [24]:
for county_geoid in small_county_df.id[60:70]:
    salesdata_scraper_bycounty(county_geoid)
print('done')

done

In [25]:
for county_geoid in small_county_df.id[70:80]:
    salesdata_scraper_bycounty(county_geoid)
print('done')

done

In [26]:
for county_geoid in small_county_df.id[80:85]:
    salesdata_scraper_bycounty(county_geoid)
print('done')

done

## Following shows each of the ~90 files can be imported into a dictionary of dataframes for processing. There will be 1 dataframe for 1 geoid.

In [27]:
# loop files; create dict of df; county name as dict key
import os
files = os.listdir("datasets/NY_data/attom_county_sales")
files.remove('.DS_Store')
ny_df_dict = {}
for county_f in files:
    with open('datasets/NY_data/attom_county_sales/'+county_f) as project_file:
        data = json.load(project_file)
        df = pd.json_normalize(data) 
        ny_df_dict[ny_county_dict[county_f]] = df

In [31]:
# Test
if len(set(df_counties.name)) != len(set(ny_df_dict.keys())):
    print('Not all counties here \n'\
        f'{len(df_counties.name)} in county list, {len(ny_df_dict.keys())} in dataframe')
    missing_county =[c for c in list(df_counties.name) if c not in ny_df_dict.keys()]
    print(f'Missing counties are: {missing_county}')
print('Everything checks out!')

Everything checks out!

In [238]:
# df_counties[df_counties.name == 'Warren_2']['id'] # GEOID = CO42123
# salesdata_scraper_bycounty(county_geoid='CO42123')
# Running the above doesn't return any information

# Import & Clean Columns

In [32]:
# Export
with open("NY_dict_df.pkl","wb") as ny_dump:
    pickle.dump(ny_df_dict,ny_dump)
    print('done')

done

In [3]:
# Read pickle file back in
ny_dict_df = pd.read_pickle("datasets/NY_data/final_data_frame/NY_dict_df.pkl")
print('done')

done

In [40]:
# Create dictionary for renaming
col_dict = {'sale.saleTransDate':'transaction_date','address.postal1':'zipcode','sale.amount.saleamt':'sale_price','lot.lotSize1':'lot_size','building.size.universalsize':'size','location.latitude':'latitude','location.longitude':'longitude','summary.propsubtype':'sub_type','summary.proptype':'type','summary.yearbuilt':'year_built','building.rooms.bathstotal':'bathrooms','building.rooms.beds':'bedrooms'}
# Create list for anti filter drop
col_drop_list = [ col for col in ny_dict_df['Albany'].columns if col not in col_dict.keys()]

In [48]:
for data in ny_dict_df.keys():
    ny_dict_df[data].rename(columns = col_dict, inplace=True)
    ny_dict_df[data].drop(col_drop_list, inplace=True, axis=1, errors='ignore')

In [49]:
# Let's check our work
ny_dict_df['Albany'].columns

Index(['lot_size', 'zipcode', 'latitude', 'longitude', 'sub_type', 'type',
       'year_built', 'size', 'bathrooms', 'bedrooms', 'transaction_date',
       'sale_price'],
      dtype='object')

# Cleaned
## let's export the cleaned version

In [52]:
# export cleaned dictionary of dataframe
with open("NY_dict_df_col_cleaned.pkl","wb") as ny_dump:
    pickle.dump(ny_dict_df,ny_dump)
    print('done')

done

In [8]:
total_size = 0
for bc in ny_dict_df.keys():
    total_size += ny_dict_df[bc].shape[0]
print(f'Total length is {total_size}')

Total length is 274694

In [55]:
import datetime

In [66]:
# Let's spot check
for bc in ny_dict_df.keys():
    # convert sale date column to datetime
    ny_dict_df[bc]['transaction_date'] = pd.to_datetime(ny_dict_df[bc]['transaction_date'])

    # Look for large volumne transaction trends to make sure we didn't run into  api limits
    if ny_dict_df[bc].shape[0] >9000:
        print(
            f"{bc} shape: {ny_dict_df[bc].shape}"\
            f", first sale: {ny_dict_df[bc]['transaction_date'].min()}"\
            f", last sale: {ny_dict_df[bc]['transaction_date'].max()}"
        )

Bergen shape: (9998, 12), first sale: 2019-01-01 00:00:00, last sale: 2021-03-16 00:00:00
Suffolk shape: (9981, 12), first sale: 2019-01-02 00:00:00, last sale: 2021-03-03 00:00:00
Kings shape: (9986, 12), first sale: 2019-01-02 00:00:00, last sale: 2021-03-31 00:00:00
New Haven shape: (9998, 12), first sale: 2019-01-02 00:00:00, last sale: 2021-04-01 00:00:00
Fairfield shape: (9999, 12), first sale: 2019-01-02 00:00:00, last sale: 2021-04-01 00:00:00
Westchester shape: (9995, 12), first sale: 2019-01-01 00:00:00, last sale: 2021-03-29 00:00:00
Hudson shape: (9998, 12), first sale: 2019-01-01 00:00:00, last sale: 2021-02-22 00:00:00
Union shape: (9999, 12), first sale: 2019-01-02 00:00:00, last sale: 2021-03-31 00:00:00
Queens shape: (9994, 12), first sale: 2019-01-02 00:00:00, last sale: 2021-04-01 00:00:00
Erie_1 shape: (9997, 12), first sale: 2019-01-02 00:00:00, last sale: 2021-03-19 00:00:00
Nassau shape: (9980, 12), first sale: 2019-01-02 00:00:00, last sale: 2021-03-08 00:00:00
New York shape: (9996, 12), first sale: 2019-01-02 00:00:00, last sale: 2021-04-01 00:00:00
Middlesex_2 shape: (9997, 12), first sale: 2019-01-01 00:00:00, last sale: 2021-03-29 00:00:00
Monmouth shape: (9997, 12), first sale: 2019-01-02 00:00:00, last sale: 2021-03-05 00:00:00

In [1]:
# There appears to be a 10k limit for a call. We will need to subdivide for these counties.
# Create a list to divide these up by quarters
county_subdividing = ['Bergen','Suffolk','Kings','New Haven','Fairfield','Westchester','Hudson','Union','Queens','Erie_1','Nassau','New York','Middlesex_2','Monmouth']

In [24]:
len(county_subdividing)

14

# Recalling API to navigate the discovered 10k reponse limit

In [68]:
import pickle
import pandas as pd
import requests
import json
import os

In [25]:
# Read back in county list

# Read in counties file
with open('datasets/NY_data/process_files/ny_counties.txt') as project_file:    
    ny_counties_data = json.load(project_file)  

df_counties = pd.json_normalize(ny_counties_data)

# Create a dictionary of NY counties
ny_county_dict = dict()
for index, row in df_counties.iterrows():
    ny_county_dict[df_counties.iloc[index]['id']] = df_counties.iloc[index]['name']

# Again rename duplicates for downstream activities
ny_county_count = df_counties.name.value_counts()
duplicates = dict(ny_county_count[ny_county_count>1])
for ck in duplicates.keys():
    n = 0
    for index, row in df_counties[df_counties.name == ck].iterrows():
        n += 1
        df_counties.iloc[index]['name'] = f"{ck}_{n}"

# Create 
recall_df = df_counties[df_counties.name.isin(county_subdividing)]

In [27]:
# Check our df
recall_df

,geo_center_latitude,geo_center_longitude,geo_key,id,name,type
4,40.9596990000,-74.0747270000,CO34003,CO34003,Bergen,CO
20,42.7527590000,-78.7781920000,CO36029,CO36029,Erie_1,CO
23,41.2274130000,-73.3670610000,CO09001,CO09001,Fairfield,CO
31,40.7313750000,-74.0786010000,CO34017,CO34017,Hudson,CO
33,40.6350450000,-73.9506400000,CO36047,CO36047,Kings,CO
40,40.4396210000,-74.4074300000,CO34023,CO34023,Middlesex_2,CO
41,40.2870480000,-74.1524460000,CO34025,CO34025,Monmouth,CO
44,40.7296120000,-73.5894140000,CO36059,CO36059,Nassau,CO
45,41.3497190000,-72.9002030000,CO09009,CO09009,New Haven,CO
47,40.7766420000,-73.9701870000,CO36061,CO36061,New York,CO
60,40.6546580000,-73.8412090000,CO36081,CO36081,Queens,CO
72,40.9435540000,-72.6922180000,CO36103,CO36103,Suffolk,CO
80,40.6598710000,-74.3086960000,CO34039,CO34039,Union,CO
87,41.1526860000,-73.7457530000,CO36119,CO36119,Westchester,CO

In [30]:
# Again Let's isolate NYC Counties
big_county_list = ['New York', 'Kings','Bronx','Richmond','Queens']
small_county_df = recall_df[~recall_df.name.isin(big_county_list)]
big_county_df = recall_df[recall_df.name.isin(big_county_list)]

In [29]:
# For each county, we'll make 1 API call and generated 1 text file containing sales data  
# county_geoids is the LIST of all 74 counties in California

# following function pulls all sales data between 200k and 5 million dollars from start of covid
# function takes as input the geoID of the county 
# function outputs a generated text file containing JSON of all SALES transactions between $0.2M and $5M in that county
# function has defaults of from date of 1st Jan 2019 upto 1st Apr 2021. These can be changed as desired.
# i've set pagesize to 50,000 records for each county.

def salesdata_scraper_bycounty_v2(county_geoid,from_date ='2019-01-01', to_date ='2021-04-01'): 
    baseurl = 'https://api.gateway.attomdata.com/propertyapi/v1.0.0/sale/snapshot'
    queryparams = {'geoid':county_geoid, 
               'minsaleamt': 200000,
               'maxsaleamt': 50000000, 
              'startsalesearchdate':from_date,
               'endsalesearchdate': to_date,
                'pagesize' :50000}        
    headers = {'apikey': '1aca7ca361664d5b70c603ebd9daa6c7', 'accept': 'application/JSON'} #c24d144ee2dbd747f25e44384132f9b3
    response = requests.get(baseurl, params = queryparams,headers=headers)
    pydata = response.json()         # converting response object to python list of dictionaries
    number_of_records = pydata['status']['total']
    if number_of_records > 0:   # this condition is to avoid writing empty files in case of zero transactions in a county
        if number_of_records == 10000:
            print('{} county has over 10000 records. Truncated.Run query separately by month instead of year'.format(county_geoid))
        else:    # no files will be created right now for counti 10,000 records
            print(f"Number of records is {number_of_records}")     
            pydata = pydata['property']   # this is to reach inner nested part where our results lie
            with open(county_geoid+'_'+from_date+'-'+to_date, 'w') as outfile:   # The name of each file will be CO06001, CO06003, etc.74 files created            
                json.dump(pydata, outfile)

# Manual Step Through Process of API calls

In [33]:
# Start with the smaller of the large set
for county_geoid in small_county_df.id: 
    print(f"Trying {county_geoid}")  
    salesdata_scraper_bycounty_v2(county_geoid,from_date ='2019-01-01', to_date ='2019-06-01')
print('done')

Trying CO34003
Number of records is3167
Trying CO36029
Number of records is1138
Trying CO09001
Number of records is2858
Trying CO34017
Number of records is2156
Trying CO34023
Number of records is2626
Trying CO34025
Number of records is2661
Trying CO36059
Number of records is4101
Trying CO09009
Number of records is1684
Trying CO36103
Number of records is5585
Trying CO34039
Number of records is1806
Trying CO36119
Number of records is2371
done

In [34]:
for county_geoid in small_county_df.id: 
    print(f"Trying {county_geoid}")  
    salesdata_scraper_bycounty_v2(county_geoid,from_date ='2019-06-01', to_date ='2020-06-01')
print('done')

Trying CO34003
CO34003 county has over 10000 records. Truncated.Run query separately by month instead of year
Trying CO36029
Number of records is4666
Trying CO09001
CO09001 county has over 10000 records. Truncated.Run query separately by month instead of year
Trying CO34017
Number of records is6117
Trying CO34023
Number of records is8759
Trying CO34025
Number of records is9775
Trying CO36059
CO36059 county has over 10000 records. Truncated.Run query separately by month instead of year
Trying CO09009
Number of records is5993
Trying CO36103
CO36103 county has over 10000 records. Truncated.Run query separately by month instead of year
Trying CO34039
Number of records is6035
Trying CO36119
Number of records is8943
done

In [64]:
small_county_sub_list_missed = ['CO09009','CO34017','CO34023','CO34025','CO34039','CO36029']
small_county_df_vmiss = small_county_df[small_county_df.id.isin(small_county_sub_list_missed)]
small_county_df_vmiss

,geo_center_latitude,geo_center_longitude,geo_key,id,name,type
20,42.7527590000,-78.7781920000,CO36029,CO36029,Erie_1,CO
31,40.7313750000,-74.0786010000,CO34017,CO34017,Hudson,CO
40,40.4396210000,-74.4074300000,CO34023,CO34023,Middlesex_2,CO
41,40.2870480000,-74.1524460000,CO34025,CO34025,Monmouth,CO
45,41.3497190000,-72.9002030000,CO09009,CO09009,New Haven,CO
80,40.6598710000,-74.3086960000,CO34039,CO34039,Union,CO

In [65]:
for county_geoid in small_county_df_vmiss.id: 
    print(f"Trying {county_geoid}")  
    salesdata_scraper_bycounty_v2(county_geoid,from_date ='2020-06-02', to_date ='2021-04-01')
print('done')

Trying CO36029
Number of records is4922
Trying CO34017
Number of records is2798
Trying CO34023
Number of records is8950
Trying CO34025
Number of records is6817
Trying CO09009
Number of records is7328
Trying CO34039
Number of records is6128
done

In [67]:
salesdata_scraper_bycounty_v2('CO36119',from_date ='2020-06-02', to_date ='2021-04-01')
print('done')

Number of records is9126
done

In [36]:
small_county_sub_list = ['CO34003','CO09001','CO36059','CO36103']
small_county_df_v2 = small_county_df[small_county_df.id.isin(small_county_sub_list)]
small_county_df_v2

   geo_center_latitude geo_center_longitude  geo_key       id       name type
4        40.9596990000       -74.0747270000  CO34003  CO34003     Bergen   CO
23       41.2274130000       -73.3670610000  CO09001  CO09001  Fairfield   CO
44       40.7296120000       -73.5894140000  CO36059  CO36059     Nassau   CO
72       40.9435540000       -72.6922180000  CO36103  CO36103    Suffolk   CO

In [52]:
small_county_df_v3 = small_county_df_v2[small_county_df_v2.id != 'CO36103']
small_county_df_v3

   geo_center_latitude geo_center_longitude  geo_key       id       name type
4        40.9596990000       -74.0747270000  CO34003  CO34003     Bergen   CO
23       41.2274130000       -73.3670610000  CO09001  CO09001  Fairfield   CO
44       40.7296120000       -73.5894140000  CO36059  CO36059     Nassau   CO

In [37]:
for county_geoid in small_county_df_v2.id: 
    print(f"Trying {county_geoid}")  
    salesdata_scraper_bycounty_v2(county_geoid,from_date ='2019-06-01', to_date ='2020-01-01')
print('done')

Trying CO34003
Number of records is6793
Trying CO09001
Number of records is6648
Trying CO36059
Number of records is9513
Trying CO36103
CO36103 county has over 10000 records. Truncated.Run query separately by month instead of year
done

In [39]:
# Hamptons ( Suffolk ) surged during the pandemic we need to subdivide this further
salesdata_scraper_bycounty_v2('CO36103',from_date ='2019-06-01', to_date ='2019-11-01')
print('done')

Number of records is9579
done

In [41]:
# Hamptons ( Suffolk ) surged during the pandemic we need to subdivide this further
salesdata_scraper_bycounty_v2('CO36103',from_date ='2019-11-02', to_date ='2020-04-01')
print('done')

Number of records is7971
done

In [44]:
# Hamptons ( Suffolk ) surged during the pandemic we need to subdivide this further
salesdata_scraper_bycounty_v2('CO36103',from_date ='2020-04-02', to_date ='2020-7-01')
print('done')

Number of records is3980
done

In [45]:
# Hamptons ( Suffolk ) surged during the pandemic we need to subdivide this further
salesdata_scraper_bycounty_v2('CO36103',from_date ='2020-7-02', to_date ='2020-11-01')
print('done')

Number of records is8781
done

In [46]:
# Hamptons ( Suffolk ) surged during the pandemic we need to subdivide this further
salesdata_scraper_bycounty_v2('CO36103',from_date ='2020-11-01', to_date ='2021-02-01')
print('done')

Number of records is4745
done

In [47]:
# Hamptons ( Suffolk ) surged during the pandemic we need to subdivide this further
salesdata_scraper_bycounty_v2('CO36103',from_date ='2021-02-02', to_date ='2021-04-01')
print('done')

Number of records is66
done

# Okay captured: Hamptons ( Suffolk )
## Next the rest of the smaller counties

In [53]:
for county_geoid in small_county_df_v3.id: 
    print(f"Trying {county_geoid}")  
    salesdata_scraper_bycounty_v2(county_geoid,from_date ='2020-01-02', to_date ='2020-10-01')
print('done')

Trying CO34003
Number of records is8232
Trying CO09001
Number of records is9428
Trying CO36059
Number of records is9515
done

In [54]:
for county_geoid in small_county_df_v3.id: 
    print(f"Trying {county_geoid}")  
    salesdata_scraper_bycounty_v2(county_geoid,from_date ='2020-10-02', to_date ='2021-04-01')
print('done')

Trying CO34003
Number of records is4272
Trying CO09001
Number of records is6863
Trying CO36059
Number of records is7418
done

# Okay got the rest of the smaller counties
## Next NYC counties

In [55]:
time_tuples = [('2019-06-02','2019-10-02'),('2019-10-02','2020-02-02'),('2020-02-03','2020-06-03'),('2020-06-04','2020-10-04'),('2020-10-05','2021-02-05'),('2021-02-06','2021-04-01')]

In [57]:
for county_geoid in big_county_df.id: 
    for time in time_tuples:
        start, stop = time
        print(f"Trying {county_geoid} from {start} to {stop}")
        salesdata_scraper_bycounty_v2(county_geoid,from_date =start, to_date =stop)
print('done')

Trying CO36047 from 2019-06-02 to 2019-10-02
Number of records is3724
Trying CO36047 from 2019-10-02 to 2020-02-02
Number of records is3826
Trying CO36047 from 2020-02-03 to 2020-06-03
Number of records is2802
Trying CO36047 from 2020-06-04 to 2020-10-04
Number of records is2610
Trying CO36047 from 2020-10-05 to 2021-02-05
Number of records is4150
Trying CO36047 from 2021-02-06 to 2021-04-01
Number of records is1467
Trying CO36061 from 2019-06-02 to 2019-10-02
Number of records is3628
Trying CO36061 from 2019-10-02 to 2020-02-02
Number of records is2677
Trying CO36061 from 2020-02-03 to 2020-06-03
Number of records is2539
Trying CO36061 from 2020-06-04 to 2020-10-04
Number of records is2173
Trying CO36061 from 2020-10-05 to 2021-02-05
Number of records is3023
Trying CO36061 from 2021-02-06 to 2021-04-01
Number of records is1346
Trying CO36081 from 2019-06-02 to 2019-10-02
Number of records is4274
Trying CO36081 from 2019-10-02 to 2020-02-02
Number of records is4206
Trying CO36081 from 2020-02-03 to 2020-06-03
Number of records is2871
Trying CO36081 from 2020-06-04 to 2020-10-04
Number of records is3269
Trying CO36081 from 2020-10-05 to 2021-02-05
Number of records is4754
Trying CO36081 from 2021-02-06 to 2021-04-01
Number of records is1682
done

In [105]:
# Capturing ('2019-01-01','2019-06-02')
for county_geoid in big_county_df.id: 
        salesdata_scraper_bycounty_v2(county_geoid,from_date ='2019-01-01', to_date ='2019-06-01')
print('done')

Number of records is3345
Number of records is3214
Number of records is3874
done

# All done
# Time to build the dataframes

In [109]:
# loop files; create dict of df
folders = ['CO34003_Bergen','CO09009_NewHaven','CO36061_NewYork','CO36081_Queens','CO36103_Suffolk','CO36029_Erie_1','CO36119_WestChester','CO09001_Fairfield','CO36047_Kings','CO34039_Union','CO34023_Middlesex_2','CO36059_Nassau','CO34025_Monmouth','CO34017_Hudson']
ny_df_dict_v2 = {}
for folder in folders:
    print(f'Building {folder}')
    # Get directories 
    files = os.listdir("datasets/NY_data/attom_county_sales/"+folder)

    # Get json files in directory
    for county_f in files:
        with open(f'datasets/NY_data/attom_county_sales/'+folder + '/' + county_f) as project_file:
            try:
                data = json.load(project_file)
                df = pd.json_normalize(data) 

                # Concat dataframes
                if folder in ny_df_dict_v2:
                    df2 = ny_df_dict_v2[folder]
                    h_concat_df = pd.concat([df2, df], axis=0)
                    ny_df_dict_v2[folder] = h_concat_df
                else:
                    ny_df_dict_v2[folder] = df
            except:
                print(f'Failed: {project_file}')

print('Dictionary Created!')

Building CO34003_Bergen
Building CO09009_NewHaven
Building CO36061_NewYork
Failed: <_io.TextIOWrapper name='datasets/NY_data/attom_county_sales/CO36061_NewYork/.DS_Store' mode='r' encoding='UTF-8'>
Building CO36081_Queens
Building CO36103_Suffolk
Building CO36029_Erie_1
Building CO36119_WestChester
Building CO09001_Fairfield
Building CO36047_Kings
Building CO34039_Union
Building CO34023_Middlesex_2
Building CO36059_Nassau
Building CO34025_Monmouth
Building CO34017_Hudson
Dictionary Created!

In [100]:
ny_df_dict_v2.keys()

dict_keys(['CO34003_Bergen', 'CO09009_NewHaven', 'CO36081_NewYork', 'CO36103_Suffolk', 'CO36029_Erie_1', 'CO36119_WestChester', 'CO09001_Fairfield', 'CO36047_Kings', 'CO34039_Union', 'CO34023_Middlesex_2', 'CO36059_Nassau', 'CO34025_Monmouth', 'CO34017_Hudson'])

In [110]:
# Let's Check our Dictionary

total_size = 0
for bc in ny_df_dict_v2.keys():
    total_size += ny_df_dict_v2[bc].shape[0]
    ny_df_dict_v2[bc]['sale.saleTransDate'] = ny_df_dict_v2[bc]['sale.saleTransDate'].astype('string')
    print(
            f"{bc} shape: {ny_df_dict_v2[bc].shape}"\
            f", first sale: {ny_df_dict_v2[bc]['sale.saleTransDate'].min()}"\
            f", last sale: {ny_df_dict_v2[bc]['sale.saleTransDate'].max()}"
        )
print(f'Total length is {total_size}')

CO34003_Bergen shape: (22461, 43), first sale: 2019-1-1, last sale: 2021-3-3
CO09009_NewHaven shape: (15005, 43), first sale: 2019-1-10, last sale: 2021-4-1
CO36061_NewYork shape: (18599, 43), first sale: 2019-1-1, last sale: 2021-4-1
CO36081_Queens shape: (24926, 43), first sale: 2019-1-1, last sale: 2021-4-1
CO36103_Suffolk shape: (40659, 43), first sale: 2019-1-1, last sale: 2021-3-3
CO36029_Erie_1 shape: (10725, 43), first sale: 2019-1-10, last sale: 2021-3-9
CO36119_WestChester shape: (20429, 43), first sale: 2019-1-1, last sale: 2021-3-9
CO09001_Fairfield shape: (25797, 43), first sale: 2019-1-10, last sale: 2021-4-1
CO36047_Kings shape: (21903, 43), first sale: 2019-1-1, last sale: 2021-4-1
CO34039_Union shape: (13969, 43), first sale: 2019-1-10, last sale: 2021-4-1
CO34023_Middlesex_2 shape: (20333, 43), first sale: 2019-1-1, last sale: 2021-3-9
CO36059_Nassau shape: (30501, 43), first sale: 2019-1-1, last sale: 2021-3-8
CO34025_Monmouth shape: (19249, 43), first sale: 2019-1-1, last sale: 2021-3-5
CO34017_Hudson shape: (11071, 43), first sale: 2019-1-1, last sale: 2021-2-9
Total length is 295627

In [111]:
ny_df_dict_v2.keys()

dict_keys(['CO34003_Bergen', 'CO09009_NewHaven', 'CO36061_NewYork', 'CO36081_Queens', 'CO36103_Suffolk', 'CO36029_Erie_1', 'CO36119_WestChester', 'CO09001_Fairfield', 'CO36047_Kings', 'CO34039_Union', 'CO34023_Middlesex_2', 'CO36059_Nassau', 'CO34025_Monmouth', 'CO34017_Hudson'])

In [112]:
renaming_dict = {'CO34003_Bergen':'Bergen', 'CO09009_NewHaven':"New Haven", 'CO36061_NewYork':'New York', 'CO36081_Queens':'Queens', 'CO36103_Suffolk':'Suffolk', 'CO36029_Erie_1':'Erie_1', 'CO36119_WestChester':'West Chester', 'CO09001_Fairfield':'Fairfield', 'CO36047_Kings':'Kings', 'CO34039_Union':'Union', 'CO34023_Middlesex_2':'Middlesex_2', 'CO36059_Nassau':'Nassau', 'CO34025_Monmouth':'Monmouth', 'CO34017_Hudson':'Hudson'}

In [113]:
ny_df_dict_v2_renamed = {}
for key in ny_df_dict_v2:
    ny_df_dict_v2_renamed[renaming_dict[key]] = ny_df_dict_v2[key]

In [114]:
ny_df_dict_v2_renamed.keys()

dict_keys(['Bergen', 'New Haven', 'New York', 'Queens', 'Suffolk', 'Erie_1', 'West Chester', 'Fairfield', 'Kings', 'Union', 'Middlesex_2', 'Nassau', 'Monmouth', 'Hudson'])

In [115]:
# Clean up any duplicates
for key in ny_df_dict_v2_renamed.keys():
    ny_df_dict_v2_renamed[key].drop_duplicates()
print('Duplicates Dropped')

Duplicates Dropped

In [117]:
# Read original pickle file back in
ny_dict_df = pd.read_pickle("datasets/NY_data/final_data_frame/NY_dict_df.pkl")
print('done')

done

In [118]:
# Let's merge the dataframe dictionaries
merged_df_dict ={}
for key in ny_dict_df.keys():
    if key in ny_df_dict_v2_renamed.keys():
        merged_df_dict[key] = ny_df_dict_v2_renamed[key]
    else:
        merged_df_dict[key] = ny_dict_df[key]

In [125]:
merged_df_dict['New York']

,lot_size,zipcode,latitude,longitude,sub_type,type,year_built,size,bathrooms,bedrooms,transaction_date,sale_price
0,0.0000,10021,40.768726,-73.955679,RESIDENTIAL,COOPERATIVE,0,154506,0.0,0,2020-9-30,750000
1,0.0000,10021,40.771610,-73.959656,RESIDENTIAL,COOPERATIVE,0,0,0.0,0,2020-9-30,750000
2,0.0000,10021,40.771708,-73.964518,RESIDENTIAL,COOPERATIVE,0,0,0.0,0,2020-9-30,1350000
3,0.0000,10011,40.740598,-73.998195,MISCELLANEOUS INDUSTRIAL,CONDOMINIUM,0,1093,0.0,0,2020-9-30,1650000
4,0.0000,10022,40.760356,-73.961450,MISCELLANEOUS INDUSTRIAL,WAREHOUSE,0,0,0.0,0,2020-9-30,2550000
...,...,...,...,...,...,...,...,...,...,...,...,...
3209,0.0000,10001,40.745084,-73.995107,MISCELLANEOUS INDUSTRIAL,CONDOMINIUM,0,992,0.0,0,2019-1-3,1600000
3210,0.0000,10019,40.763387,-73.990994,RESIDENTIAL,COOPERATIVE,0,9925,0.0,0,2019-1-4,560100
3211,0.0482,10029,40.799561,-73.944941,COMMERCIAL,STORE BUILDING,1953,2100,0.0,0,2019-1-4,1653000
3212,0.0000,10018,40.752428,-73.982702,RESIDENTIAL,CONDOMINIUM,2015,1067,0.0,0,2019-1-4,2395000
3213,0.0000,10021,40.769291,-73.965477,RESIDENTIAL,COOPERATIVE,0,0,0.0,0,2019-1-7,310000

In [119]:
# Export
with open("NY_dict_df_v2.pkl","wb") as ny_dump:
    pickle.dump(merged_df_dict,ny_dump)
    print('done')

done

In [120]:
# Create dictionary for renaming
col_dict = {'sale.saleTransDate':'transaction_date','address.postal1':'zipcode','sale.amount.saleamt':'sale_price','lot.lotSize1':'lot_size','building.size.universalsize':'size','location.latitude':'latitude','location.longitude':'longitude','summary.propsubtype':'sub_type','summary.proptype':'type','summary.yearbuilt':'year_built','building.rooms.bathstotal':'bathrooms','building.rooms.beds':'bedrooms'}
# Create list for anti filter drop
col_drop_list = [ col for col in merged_df_dict['Albany'].columns if col not in col_dict.keys()]

In [121]:
for data in merged_df_dict.keys():
    merged_df_dict[data].rename(columns = col_dict, inplace=True)
    merged_df_dict[data].drop(col_drop_list, inplace=True, axis=1, errors='ignore')

In [122]:
# export cleaned dictionary of dataframe
with open("NY_dict_df_col_cleaned_v2.pkl","wb") as ny_dump:
    pickle.dump(merged_df_dict,ny_dump)
    print('done')

done

In [123]:
total_size = 0
for bc in merged_df_dict.keys():
    total_size += merged_df_dict[bc].shape[0]
print(f'Total length is {total_size}')

Total length is 419972

# Spot Checking json files

In [134]:
# folder navigation
print(os.path.abspath(os.curdir))

/Users/Chris/Documents/GitHub/SIADS691-Covid-Real-Estate

In [135]:
# Get json files in directory
with open('datasets/NY_data/attom_county_sales/CO36061_NewYork/CO36061_2021-02-06-2021-04-01') as project_file:
    try:
        data = json.load(project_file)
        test = pd.json_normalize(data)

SyntaxError: unexpected EOF while parsing (<ipython-input-135-78f8350615ce>, line 5)

In [170]:
merged_df_dict['Suffolk'].sample(20)

,lot_size,zipcode,latitude,longitude,sub_type,type,year_built,size,bathrooms,bedrooms,transaction_date,sale_price
3388,0.6400,11706,40.765637,-73.256629,RESIDENTIAL,DUPLEX,0,0,0.0,0,2019-1-15,345000
4130,0.2000,11717,40.774461,-73.231779,RESIDENTIAL,SFR,0,0,0.0,0,2020-8-7,260000
2130,0.4800,11705,40.737591,-73.057204,RESIDENTIAL,SFR,0,0,0.0,0,2020-8-10,675000
2581,0.2500,11747,40.809840,-73.394432,RESIDENTIAL,SFR,0,0,0.0,0,2020-6-10,460000
2581,1.0000,11743,40.880160,-73.384401,RESIDENTIAL,SFR,0,0,0.0,0,2019-11-22,890000
4171,0.3600,11768,40.931598,-73.367628,RESIDENTIAL,SFR,0,0,0.0,0,2021-1-11,1265000
427,0.0494,11747,40.795979,-73.385685,RESIDENTIAL,SFR,0,0,0.0,0,2020-1-15,995000
1849,0.1800,11772,40.763765,-73.030806,RESIDENTIAL,SFR,0,1048,1.0,3,2021-1-8,291500
4952,0.3700,11779,40.791962,-73.129201,RESIDENTIAL,SFR,0,0,0.0,0,2019-9-25,505000
693,0.2700,11755,40.854541,-73.118424,RESIDENTIAL,SFR,0,1372,1.0,3,2019-1-3,354000
132,0.6200,11721,40.893298,-73.370260,RESIDENTIAL,SFR,0,0,0.0,0,2020-3-3,815000
4382,0.0661,11704,40.713854,-73.344549,RESIDENTIAL,COMMERCIAL ACREAGE,0,0,0.0,0,2019-7-9,2000000
3483,0.2200,11720,40.870153,-73.082600,RESIDENTIAL,SFR,0,1500,1.0,3,2019-10-31,418000
8989,0.0170,11763,40.844261,-72.999573,RESIDENTIAL,CONDOMINIUM,0,1008,1.0,1,2019-8-14,268750
3011,0.1800,11746,40.829755,-73.417651,RESIDENTIAL,SFR,0,0,0.0,0,2019-8-5,430000
2806,2.0000,11724,40.858559,-73.443764,RESIDENTIAL,SFR,0,0,0.0,0,2019-8-28,1750000
3359,0.3400,11706,40.740171,-73.273117,RESIDENTIAL,SFR,0,0,0.0,0,2019-1-18,469000
1604,0.0600,11953,40.886778,-72.953486,RESIDENTIAL,SFR,0,0,0.0,0,2020-6-5,275000
2054,0.2400,11767,40.852986,-73.131529,HOUSE,SFR,1968,2028,3.0,3,2019-5-31,498500
547,0.1600,11772,40.764410,-73.032457,RESIDENTIAL,SFR,0,979,1.0,2,2019-1-30,319300

In [174]:
merged_df_dict['Suffolk'][merged_df_dict['Suffolk']['type'] == 'SFR'].sample(20)

,lot_size,zipcode,latitude,longitude,sub_type,type,year_built,size,bathrooms,bedrooms,transaction_date,sale_price
3977,1.0000,11975,40.950800,-72.238100,RESIDENTIAL,SFR,0,0,0.0,0,2020-3-25,3400000
1251,0.3500,11766,40.928180,-73.021396,RESIDENTIAL,SFR,0,2115,2.0,3,2020-12-30,540000
7356,0.1700,11743,40.866001,-73.421423,RESIDENTIAL,SFR,0,0,0.0,0,2020-8-13,546500
5094,0.5455,11954,41.026638,-71.970759,RESIDENTIAL,SFR,0,0,0.0,0,2019-4-18,4417600
5456,0.1700,11747,40.789976,-73.412164,RESIDENTIAL,SFR,0,0,0.0,0,2020-7-15,665000
3455,0.1200,11963,40.994347,-72.333400,HOUSE,SFR,1997,640,1.0,2,2019-10-29,655000
2323,0.2800,11963,40.993954,-72.294971,HOUSE,SFR,1991,1228,1.0,3,2019-4-8,955000
145,0.4500,11788,40.816469,-73.229524,RESIDENTIAL,SFR,0,0,0.0,0,2019-3-22,612500
2966,0.3800,11767,40.839924,-73.137715,RESIDENTIAL,SFR,0,0,0.0,0,2020-8-14,650000
3322,1.0000,11746,40.809423,-73.344520,RESIDENTIAL,SFR,0,0,0.0,0,2020-10-29,885000
8796,0.8400,11705,40.736483,-73.067040,RESIDENTIAL,SFR,0,0,0.0,0,2019-9-4,350000
6129,0.2800,11901,40.976864,-72.689277,HOUSE,SFR,2001,1417,3.0,2,2020-3-9,350000
1048,1.0700,11792,40.960216,-72.841794,HOUSE,SFR,1999,2547,3.0,4,2020-11-3,629000
6749,0.2300,11751,40.743477,-73.222530,RESIDENTIAL,SFR,0,0,0.0,0,2020-10-9,415000
1519,0.4300,11937,41.038526,-72.154256,RESIDENTIAL,SFR,0,0,0.0,0,2020-9-21,522080
3007,0.7000,11751,40.717286,-73.218174,RESIDENTIAL,SFR,0,0,0.0,0,2020-3-31,580000
908,0.1200,11746,40.833520,-73.393688,RESIDENTIAL,SFR,0,0,0.0,0,2019-8-1,380000
1415,0.9200,11937,41.000740,-72.193110,RESIDENTIAL,SFR,0,0,0.0,0,2019-5-23,918000
1128,0.6700,11763,40.824596,-73.004295,RESIDENTIAL,SFR,0,0,0.0,0,2019-1-30,400000
1962,0.1100,11967,40.763436,-72.873733,RESIDENTIAL,SFR,0,1050,1.0,3,2020-12-29,277312

In [162]:
data = json.load(open('datasets/NY_data/attom_county_sales/Round 1 Calls/CO09011'))
test = pd.json_normalize(data)

In [163]:
test[['building.rooms.bathstotal', 'building.rooms.beds']].sample(20)

      building.rooms.bathstotal  building.rooms.beds
4136                        3.0                    4
266                         2.0                    3
2470                        1.0                    3
2906                        0.0                    1
1815                        6.0                    6
1352                        4.0                    5
1690                        4.0                    4
84                          3.0                    3
4640                        2.0                    3
2666                        3.0                    3
370                         0.0                    0
2159                        2.0                    3
329                         4.0                    4
4029                        2.0                    3
2298                        3.0                    5
3060                        3.0                    4
1888                        3.0                    4
1150                        2.0                    3
3250                        2.0                    3
3168                        1.0                    2

In [164]:
test.shape

(4746, 43)